{:paths ["src"]
 :deps {clojure-humanize/clojure-humanize {:mvn/version "0.2.2"}
        hiccup/hiccup                     {:mvn/version "1.0.5"}
        http-kit/http-kit                 {:mvn/version "2.7.0"}
        metosin/jsonista                  {:mvn/version "0.3.7"}
        metosin/reitit                    {:mvn/version "0.6.0"}
        org.clojure/clojure               {:mvn/version "1.11.1"}
        org.clojure/tools.cli             {:mvn/version "1.0.219"}}
 :aliases
 {:build {:deps       {io.github.clojure/tools.build
                       {:git/tag "v0.9.5" :git/sha "24f2894"}}
          :ns-default build}}}
